# {{ ansible_managed }}
###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="--service_account_private_key_file={{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_server_key_filename }} --kubeconfig=/etc/kubernetes/{{ k8s_controller_manager_kubeconfig_filename }}{% if k8s_controller_manager_additional_args %} {{ k8s_controller_manager_additional_args }}{% endif %}"
