# {{ ansible_managed }}
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_ca_cert_filename }}
    server: https://{{ ansible_hostname }}.{{ ansible_domain }}:{{ k8s_apiserver_secure_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: proxy
  name: proxy-ctx
current-context: proxy-ctx
users: 
- name: proxy
  user:
    client-certificate: {{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_server_cert_filename }} 
    client-key: {{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_server_key_filename }} 
