# {{ ansible_managed }}
###
# kubernetes proxy config

# default config should be adequate

# Add your own!
KUBE_PROXY_ARGS="--kubeconfig=/etc/kubernetes/{{ k8s_proxy_kubeconfig_filename }}{% if k8s_kube_proxy_additional_args %} {{ k8s_kube_proxy_additional_args }}{% endif %}"
