# {{ ansible_managed }}
###
# kubernetes scheduler config

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="--kubeconfig=/etc/kubernetes/{{ k8s_scheduler_kubeconfig_filename }}{% if k8s_scheduler_additional_args %} {{ k8s_scheduler_additional_args }}{% endif %}"
