# {{ ansible_managed }}
# Flanneld configuration options

FLANNEL_OPTIONS="-etcd-prefix {{ etcd_key }} -etcd-endpoints https://{{ ansible_hostname }}.{{ ansible_domain }}:{{ etcd_port }}{% if k8s_apiserver_cert_path and k8s_apiserver_ca_cert_filename %} -etcd-cafile={{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_ca_cert_filename }}{% endif %}{% if k8s_apiserver_cert_path and k8s_apiserver_server_cert_filename %} -etcd-certfile={{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_server_cert_filename }}{% endif %}{% if k8s_apiserver_cert_path and k8s_apiserver_server_key_filename %} -etcd-keyfile={{ k8s_apiserver_cert_path }}/{{ k8s_apiserver_server_key_filename }}{% endif %}"
